<html>
    <head>
        <!-- %%STYLESECTION%% -->
        <style type="text/css">
                    table
            {
                margin-left:auto;
                margin-right:auto;
            }
        </style>
    </head>
    <!-- Excerpt -->
    <body dir="<!-- %%READINGDIRECTION%% -->">
        <!-- %%INSERTIONHEADER%% -->
<div class="separator"></div>
        <div class="annotation">
            <div class="annotationheader">
                <div class="annotationdate">
                    <span><!-- %%ANNOTATIONDATE%% --></span>
                </div>
            <div class="annotationchapter">
                <!-- %%ANNOTATIONCHAPTER%% -->
            </div>
            </div>
        </div>
            <div class="excerpt">
                <p><!-- %%EXCERPT%% --></p>
            </div>
            <div class="separator"></div>
        <!-- Excerpt from -->
        <p class="excerptfrom">
            <!-- %%EXERPTFROM%% -->
        </p>
        <!-- Get Book -->
		<div style="width:80%;margin-left:auto;margin-right:auto">
			<!-- %%BOOKINFO%% -->
		</div>
		<p class="citation">
		    <!-- %%CITATION%% -->
		<p/>
        <p class="storelink">
            <!-- %%STORELINK%% -->
        </p>

    </body>
</html>
