<html>
    <head>
        <!-- %%STYLESECTION%% -->
        <style type="text/css">
        .dragnote
        {
            font-family: "Helvetica Neue", Palatino, Georgia, Serif;
            color: black;
            font-weight: bold;
            font-size: 15px;
            line-height: 19px;
            margin-top: 24px;
            margin-bottom: 28px;

        }
        .dragexcerpt 
        {
            font-family: "Helvetica", Palatino, Georgia, Serif;
            color: grey;
            font-size: 13px;
            line-height: 17px;
            font-style: italic;
        }
        .dragrepresentativetext 
        {
            font-family: "Helvetica", Palatino, Georgia, Serif;
            color: black;
            font-size: 15px;
            line-height: 19px;
            border-left-width: 8px;
            border-left-style: solid;
            padding-left: 10px;
        }
        </style>
    </head>
    <body dir="<!-- %%READINGDIRECTION%% -->">
        <p class="dragexcerpt"><!-- %%ANNOTATIONMETADATA%% --></p>
        <p class="dragrepresentativetext <!-- %%ANNOTATIONMARKETCOLOR%% -->"><!-- %%ANNOTATIONREPRESENTATIVETEXT%% --></p>
        <p class="dragnote"><b><!-- %%ANNOTATIONNOTE%% --></b></p>
        <p class="dragexcerpt"><!-- %%ANNOTATIONEXCERPTTEXT%% --></p>
    </body>
</html>
