        <div class="annotation">
            <div class="annotationheader">
                <div class="annotationdate">
                    <!-- %%ANNOTATIONDATE%% -->
                </div>
                <div class="annotationchapter">
                    <!-- %%ANNOTATIONCHAPTER%% -->
                </div>
            </div>
            <div class="annotationcontent">
                        <div class="annotationselectionMarker <!-- %%ANNOTATIONMARKETCOLOR%% -->">
            </div>
            <div class="annotationselectioninnermargin">
            </div>
                <p class="annotationrepresentativetext">
                <!-- %%ANNOTATIONREPRESENTATIVETEXT%% -->
                </p>
                <p class="annotationnote">
                <!-- %%ANNOTATIONNOTE%% -->
                </p>
            </div>
        </div>
                    <div class="separator"></div>
