<html>
    <head>
        <!-- %%STYLESECTION%% -->
        <style type="text/css">
            body 
            {
                padding-left: 22px;
                font-size: 15px;
                line-height: 19px;
            }
            .checkout-book
            {
                font-weight:bold;
                color: #666;
                margin-bottom:10px;
            }
    .asset-link
    {
        font-size: 15px;
        line-height: 19px;
    }
    .asset-link a:link
    {
        color:rgb(0,0,255);
        text-decoration:underline;
    }

        </style>
    </head>
    <body dir="<!-- %%READINGDIRECTION%% -->">
        <!-- %%INSERTIONHEADER%% -->
        <p>
            <div class="checkout-book">
                    <!-- %%CHECKOUTBOOK%% -->
            </div>
        </p>
        
        <!-- %%BOOKINFO%% -->

	<p>
	    <!-- %%CITATION%% -->
    <p/>

        <p class="asset-link">
            <!-- %%STORELINK%% -->
        </p>

    </body>
</html>

