<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibec</key>
	<dict>
		<key>Digest</key>
		<data>
		H1qEcxiwLW1c/O8TlWxCm+wOpw4C4Hr5/1FZclAcZO3NnGUlgEo4SJiKtBFr
		JCBI
		</data>
	</dict>
</dict>
</plist>
