<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibss</key>
	<dict>
		<key>Digest</key>
		<data>
		NiGZ8RkuQ/kSRyDk6ts4af+5jx7RwiPs/7oseyk9Qv++KS1aVZSf72FOHAUj
		kucn
		</data>
	</dict>
</dict>
</plist>
