<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceClass</key>
	<string>iPhone</string>
	<key>DeviceMap</key>
	<array>
		<dict>
			<key>BDID</key>
			<integer>14</integer>
			<key>BoardConfig</key>
			<string>d221ap</string>
			<key>CPID</key>
			<integer>32789</integer>
			<key>Platform</key>
			<string>t8015</string>
			<key>SCEP</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>6</integer>
			<key>BoardConfig</key>
			<string>d22ap</string>
			<key>CPID</key>
			<integer>32789</integer>
			<key>Platform</key>
			<string>t8015</string>
			<key>SCEP</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>FirmwareDirectory</key>
	<string>Firmware</string>
	<key>KernelCachesByPlatform</key>
	<dict>
		<key>iphone10b</key>
		<dict>
			<key>Release</key>
			<string>kernelcache.release.iphone10b</string>
		</dict>
	</dict>
	<key>MinimumSystemPartition</key>
	<dict>
		<key>058-86176-124.dmg</key>
		<integer>3843</integer>
	</dict>
	<key>ProductBuildVersion</key>
	<string>15C114</string>
	<key>ProductType</key>
	<string>iPhone10,6</string>
	<key>ProductVersion</key>
	<string>11.2</string>
	<key>RamDisksByPlatform</key>
	<dict>
		<key>t8010</key>
		<dict>
			<key>Update</key>
			<string>058-85997-124.dmg</string>
			<key>User</key>
			<string>058-85846-125.dmg</string>
		</dict>
	</dict>
	<key>RestoreRamDisks</key>
	<dict>
		<key>Update</key>
		<string>058-85997-124.dmg</string>
		<key>User</key>
		<string>058-85846-125.dmg</string>
	</dict>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>234913813</integer>
			<integer>100696085</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>234913813</integer>
			<integer>100696085</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone10,6</string>
		<string>iPhone10,3</string>
	</array>
	<key>SystemPartitionPadding</key>
	<dict>
		<key>d22</key>
		<dict>
			<key>1024</key>
			<integer>1280</integer>
			<key>128</key>
			<integer>1280</integer>
			<key>16</key>
			<integer>160</integer>
			<key>256</key>
			<integer>1280</integer>
			<key>32</key>
			<integer>320</integer>
			<key>512</key>
			<integer>1280</integer>
			<key>64</key>
			<integer>640</integer>
			<key>768</key>
			<integer>1280</integer>
			<key>8</key>
			<integer>80</integer>
		</dict>
		<key>d221</key>
		<dict>
			<key>1024</key>
			<integer>1280</integer>
			<key>128</key>
			<integer>1280</integer>
			<key>16</key>
			<integer>160</integer>
			<key>256</key>
			<integer>1280</integer>
			<key>32</key>
			<integer>320</integer>
			<key>512</key>
			<integer>1280</integer>
			<key>64</key>
			<integer>640</integer>
			<key>768</key>
			<integer>1280</integer>
			<key>8</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>SystemRestoreImageFileSystems</key>
	<dict>
		<key>058-85846-125.dmg</key>
		<string>Case-sensitive HFS+</string>
		<key>058-85997-124.dmg</key>
		<string>Case-sensitive HFS+</string>
		<key>058-86176-124.dmg</key>
		<string>APFS</string>
	</dict>
	<key>SystemRestoreImages</key>
	<dict>
		<key>User</key>
		<string>058-86176-124.dmg</string>
	</dict>
</dict>
</plist>
