<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dtre</key>
	<dict>
		<key>Digest</key>
		<data>
		LpGAPmEeQjCD+YIz73K8wfBRkILfUF+0Hoqxj5HjOA4WwMH1pcTLYmgcoW4l
		CRVC
		</data>
	</dict>
	<key>rdtr</key>
	<dict>
		<key>Digest</key>
		<data>
		Wlb1RZ820plUMwskoQKXCR1w7sjadeDPKeJX+828awxskmH/bPuWZxAQ5bYo
		aO/f
		</data>
	</dict>
</dict>
</plist>
