<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dtre</key>
	<dict>
		<key>Digest</key>
		<data>
		cueauPZCp6V4k5tWSnMfvfrfqO578OkSpFddPdHLPwfhHMLlPeiGFgpDECBd
		K86z
		</data>
	</dict>
	<key>rdtr</key>
	<dict>
		<key>Digest</key>
		<data>
		hhiExqEKVXq4wLDriC9v/dZWPNWZBBL5mknbLJwhLY0E7ZbdqeX1lEe2HxI1
		CXD4
		</data>
	</dict>
</dict>
</plist>
