<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibot</key>
	<dict>
		<key>Digest</key>
		<data>
		7pnJjnqOGIXMZ+Ecuta9bRZ2htnCxE0PwpbgiFtAgIO9srZMHcBbXKlxPEMv
		C4QD
		</data>
	</dict>
</dict>
</plist>
