<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>liqd</key>
	<dict>
		<key>Digest</key>
		<data>
		vqLd8WW6ugfez77DHqDbFeRPdqzCqQezQZeX479zZD/omjx4H5970v7/5V7a
		PUw7
		</data>
	</dict>
</dict>
</plist>
