<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		AQCHb0DnwbCYYkPMfpoeeHiYFuV6ihoRXvPWQTPAw5isYm2GJADJq0qhBhwM
		KDle
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		MRzupNzcs7//GxuLf6GzJ5QEbopoPO74bmHgUT0ZUoNf0mD9nf2sTjt2UzGx
		MWoF
		</data>
	</dict>
</dict>
</plist>
