<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>CONTINUOUS_PLAYBACK_FOOTER</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>MTSyncSubscriptions</string>
			<key>Title</key>
			<string>Sync Subscriptions</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>MTWiFiDownloadOnly</string>
			<key>Title</key>
			<string>WIFI_DOWNLOADS</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>MTContinuousPlaybackEnabled</string>
			<key>Title</key>
			<string>CONTINUOUS_PLAYBACK</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>EPISODE_DOWNLOADS_FOOTER</string>
			<key>Title</key>
			<string>EPISODE_DOWNLOADS_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>MTPodcastUpdateIntervalDefault</string>
			<key>Title</key>
			<string>Update-Interval</string>
			<key>Titles</key>
			<array>
				<string>UpdateOncePerHour</string>
				<string>UpdateOncePerSixHours</string>
				<string>UpdateOncePerDay</string>
				<string>UpdateOncePerWeek</string>
				<string>UpdateManually</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>3</integer>
			<key>Key</key>
			<string>MTPodcastAutoDownloadStateDefaultKey</string>
			<key>Title</key>
			<string>Auto-Download</string>
			<key>Titles</key>
			<array>
				<string>AUTO_DOWNLOAD_OFF</string>
				<string>AUTO_DOWNLOAD_NEW</string>
				<string>AUTO_DOWNLOAD_ALL</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>3</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>MTPodcastDeletePlayedEpisodesDefaultKey</string>
			<key>Title</key>
			<string>Delete-Played-Title</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>PRIVACY_FOOTER</string>
			<key>Title</key>
			<string>PRIVACY</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Privacy</string>
			<key>Title</key>
			<string>PODCASTS_AND_PRIVACY</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>MTPrivacyResetIdentifier</string>
			<key>Title</key>
			<string>RESET_IDENTIFIER</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>3.3 (1210.53)</string>
			<key>Key</key>
			<string>VersionValue</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
