<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
        <style type="text/css">
table {
    font-size: x-large;
}
#outerdiv {
    height: 100%;
}
        </style>
    </head>
    <body>
        
        <div id="outerdiv" style="display:table;text-align:center;width:100%;">
            <div id="innerdiv" style="display:table-cell;vertical-align:middle;">
            </div>
        </div>
        
    </body>
</html>
