{{embed base}}

html {
  background: #FFFFFF;
}

{{range fonts}}
{{range .}}
@font-face {
  font-family: iBooks_{{.$parent.$key}};
  src: local('{{.}}');
  font-weight: {{.$key}};
}
{{end range .}}
{{end range fonts}}

.calibre > div, .calibre1 > div {
  position: static !important;
}

/* Themes */

{{range themes}}

/* Gaiji support */
{{if $parent.respectImageSizeSelector}}
  {{if $parent.respectImageSizeSelectorIsGaiji}}
    {{if gaijiImageFilter}}
    :root[__ibooks_internal_theme={{.identifier}}] img{{.$parent.respectImageSizeSelector}} {
    -webkit-filter: {{.gaijiImageFilter}};
    {{if ! shouldInvertContent}}
      background-color: transparent !important;
    {{end shouldInvertContent}}
    }
    {{end gaijiImageFilter}}
  {{end respectImageSizeSelectorIsGaiji}}
{{end respectImageSizeSelector}}


/* content body */

{{if shouldInvertContent}}

  :root[__ibooks_internal_theme={{.identifier}}] {
    background-color: #{{.contentBackgroundColor.hexValue}} !important;
  }
  :root[__ibooks_internal_theme={{.identifier}}] *:not(a) {
    background-color: transparent !important;
    color: #{{.contentTextColor.hexValue}} !important;
  }
  :root[__ibooks_internal_theme={{.identifier}}] svg|text {
    fill: #{{.contentTextColor.hexValue}} !important;
    stroke: none !important;
  }

  /* Links - colors from theme - always override when inverted */
  :root[__ibooks_internal_theme={{.identifier}}] a,
  :root[__ibooks_internal_theme={{.identifier}}] a * {
    color: #{{.linkActiveColor.hexValue}} !important;
  }
  :root[__ibooks_internal_theme={{.identifier}}] a:link,
  :root[__ibooks_internal_theme={{.identifier}}] a:link * {
    color: #{{.linkColor.hexValue}} !important;
  }
  :root[__ibooks_internal_theme={{.identifier}}] a:visited,
  :root[__ibooks_internal_theme={{.identifier}}] a:visited * {
    color: #{{.linkVisitedColor.hexValue}} !important;
  }

{{else}}

  {{if ! overlayContentBackgroundColor}}
    /* apply body styles to the root too in case the document has no body */
    :root[__ibooks_internal_theme={{.identifier}}],
    :root[__ibooks_internal_theme={{.identifier}}] * {
      background-color: #{{.contentBackgroundColor.hexValue}} !important;
      color: #{{.contentTextColor.hexValue}};
    }
  {{end overlayContentBackgroundColor }}

  /* Links - colors from theme - do not override what an author sets*/
  :root[__ibooks_internal_theme={{.identifier}}] a {
    color: #{{.linkActiveColor.hexValue}};
  }
  :root[__ibooks_internal_theme={{.identifier}}] a:link {
    color: #{{.linkColor.hexValue}};
  }
  :root[__ibooks_internal_theme={{.identifier}}] a:visited {
    color: #{{.linkVisitedColor.hexValue}};
  }

{{end shouldInvertContent}}

{{end range themes}}
/* End Themes */

html {
/*  -webkit-touch-callout: none; */ /* Orb support */
  margin: 0 !important;
  padding: 0 !important;
{{if style}}
{{if useColumns}}
  -webkit-column-width: {{.pageWidth}}px;
  -webkit-column-gap: {{.gutter}}px;
  width: {{.width}}px;
  height: {{.pageHeight}}px;
{{else}}
  width: auto !important;
  height: auto !important;
{{end useColumns}}
{{end style}}
  -webkit-line-box-contain: block glyphs replaced;
}


body {
  padding: 0 0 !important;
  overflow: hidden;
  text-align: {{.justification}};
  
  -webkit-locale: '{{.language}}';
  -webkit-hyphens: {{.hyphens}};
  -webkit-hyphenate-character: '-';
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-lines: 2;
  text-rendering: {{.textRendering}};

{{if isJapanese}}
  /* <rdar://problem/12986020> Turn on break-word by default for Japanese */
  word-wrap: break-word;
  -webkit-line-box-contain: block inline replaced;
  line-break: strict;
  -webkit-line-break: strict;
{{end isJapanese}}

{{if isChinese}}
  font-family: {{.defaultChineseFont}};
{{end isChinese}}

}

p {
  widows: 2;
  orphans: 2;
}

/* margins */
{{if isScrollMode}}
{{if scrollModeIsHorizontal}}
/* unpaginated and paginated horizontal scroll */
body {
  /* left and right margins of chapters, also gaps for paginated content */
  margin: 0 40px !important;
}
:root[__ibooks_writing_mode^="vertical-"] body {
  /* unpaginated vertical text needs to be constrained */
  height: {{.pageHeight}}px !important;
}

{{else}}
/* unpaginated vertical scroll */
:root[__ibooks_writing_mode^="horizontal-"] body {
  {{if isPhone}}
  margin: 100px 0 50px 0 !important;
  {{else}}
  margin: 220px 0 100px 0 !important;
  {{end isPhone}}
}
/* paginated vertical scroll; top/bottom margin is per-page */
:root[__ibooks_writing_mode^="vertical-"] body {
  margin: 60px 0 !important;
}
{{end scrollModeIsHorizontal}}
{{else}}
/* book mode */
body {
  -webkit-margin-start: 0 !important;
  -webkit-margin-end: 0 !important;
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
}
{{end isScrollMode}}

parsererror { white-space: normal !important; }

a { text-decoration: none; }
pre { white-space: pre-wrap; }
@page { margin: 0 0 !important; }
table,ol,il { text-align: -webkit-auto; }
h1,h2,h3,h4,h5,h6 {
{{if isJapanese}}
  /* <rdar://problem/13070417> don't set text-align */
{{else}}
  text-align: -webkit-auto;
{{end isJapanese}}
  text-rendering: optimizelegibility;
}

/* Begin Ted */
img {
  max-height: 95% !important;
  max-width: 100% !important;
  box-sizing: border-box;
  object-fit: contain;
  page-break-inside: avoid;
}

svg {
  max-height: 95% !important;
  max-width: 100% !important;
  box-sizing: border-box;
  object-fit: contain;
  page-break-inside: avoid;
}

video {
  max-height: 95% !important;
  max-width: 100% !important;
  box-sizing: border-box;
  object-fit: contain;
  page-break-inside: avoid;
  width: 300px;
  height: 150px;
}

audio {
  max-height: 95% !important;
  max-width: 100% !important;
  box-sizing: border-box;
  object-fit: contain;
  page-break-inside: avoid;
}

/* End Ted */

/* Divs are also used to size images so make sure the authors get what they intended */
/* which is for the images boxed in them to be completely visible on screen */
div {
  max-width: 100%;
}

[epub|type~="noteref"] {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

aside[epub|type~="footnote"] {
  display: none !important;
}

{{if style}}
td {
  max-width: {{.tdClamp}}px !important;
}

{{if fontFamily}}
body {
  line-height: {{.style.lineHeight}};
  font-family: 'iBooks_{{.fontFamily}}'{{range fontFallbacks}}, '{{.}}'{{end}} !important;
}
math {
  font-family: STIXGeneral, Symbol, 'iBooks_{{.fontFamily}}'{{range fontFallbacks}}, '{{.}}'{{end}} !important;
}
{{end fontFamily}}
{{end style}}

ruby > rt, ruby > rp {
    -webkit-user-select: none;
}

/* centering hack to support Calibre-generated vertical centered documents */
:root:not([__ibooks_has_multiple_pages]) *[__ibooks_centering_hack^="horizontal-"] {
  min-width: {{.pageWidth}}px;
}
:root:not([__ibooks_has_multiple_pages]) *[__ibooks_centering_hack^="vertical-"] {
  min-height: {{.pageHeight}}px;
}

/* fix documents that abuse inline-block */
:root[__ibooks_has_multiple_pages] *[__ibooks_has_inline_block] {
  display: block !important;
}
